[Unit]
Description=Spring Boot Reactive Demo
After=syslog.target

[Service]
Type=simple
User=ubuntu
Restart=always
RestartSec=5
Environment="ELASTICSEARCH_URL=https://{{ springboot_user }}:{{ springboot_password }}@{{ elasticsearch_host[8:] }}/"
ExecStart=java -Xmx384m\
               -DSERVER_PORT=8080\
               -Dotel.exporter.otlp.endpoint={{ apm_host }}\
               -Dotel.exporter.otlp.headers="Authorization=Bearer {{ apm_secret_token }}"\
               -Dotel.service.name=spring-boot-reactive-demo\
               -javaagent:/opt/opentelemetry-javaagent-all-1.7.0.jar\
               -jar /opt/spring-boot-reactive-demo.jar\
               --spring.profiles.active=prod
